@use "/styles" as *;

.Card {
  background-color: $rds-color-base-white;
  padding: $rds-size-spacing-inset-squish-small;
  border-radius: $rds-size-radius-medium;
  margin-bottom: $rds-size-spacing-basis;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-footer {
    & > * {
      padding-top: $rds-size-spacing-stack-small;
    }
  }

  &-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $rds-color-base-gray-50;

    &-icon {
      margin-right: $rds-size-spacing-inline-small;
    }

    &-text {
      color: currentColor;
    }
  }

  &-edit {
    width: 1.5rem;
    height: 1.5rem;
    padding: 2px;
  }
}
