@import "@ramsey-design-system/tokens/dist/variables";

.Card {
  background-color: $rds-color-base-white;
  padding: $rds-size-spacing-inset-squish-small;
  border-radius: $rds-size-radius-medium;
  margin-bottom: $rds-size-spacing-basis;

  &-title {
    font-weight: bold;
  }

  &-end {
    margin-top: $rds-size-spacing-stack-xsmall;
    text-align: right;
  }

  &-edit {
      width: 1rem;
      height: 1rem;
  }
}
