@use "/styles" as *;

.Card {
  background-color: $rds-color-base-white;
  padding: $rds-size-spacing-inset-squish-small;
  border-radius: $rds-size-radius-medium;
  margin-bottom: $rds-size-spacing-basis;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-end {
    margin-top: $rds-size-spacing-stack-xsmall;
    text-align: right;
  }

  &-edit {
    width: 1rem;
    height: 1rem;
  }
}
