@use "/styles" as *;

.Board {
  width: 100%;
  height: 100%;
  padding: $rds-size-spacing-basis;

  &-header {
    background: $rds-color-base-gray-10;
    font-weight: $rds-font-weight-semibold;
    border-radius: $rds-size-radius-small;
  }

  &-row {
    height: 33%;
  }

  &-rowHeader {
    max-width: 25rem;
    background: $rds-color-base-gray-10;
    text-align: left;
    padding: $rds-size-font-3;
    vertical-align: top;
    border-radius: $rds-size-radius-small;
    border-left: $rds-size-border-xlarge solid;

    &--prototype {
      border-color: $rds-color-base-blue-50;
    }

    &--test {
      border-color: $rds-color-base-green-50;
    }

    &--scale {
      border-color: $rds-color-base-purple-50;
    }
  }

  &-rowTitle {
    display: block;
    font-weight: $rds-font-weight-semibold;
  }

  &-rowDescription {
    display: block;
  }

  &-square {
    width: 25%;
    background: $rds-color-base-gray-20;
    border-radius: $rds-size-radius-small;
    padding: $rds-size-spacing-basis;
    vertical-align: top;
    transition: background 0.25s ease-in-out;

    &--active {
      background: $rds-color-base-blue-50;
    }
  }

  &-addCard {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
