@import "@ramsey-design-system/tokens/dist/variables";

.Modal {
  position: absolute;
  inset: 40px;
  background: $rds-color-base-white;
  overflow: auto;
  border-radius: $rds-size-radius-small;
  outline: none;
  padding: $rds-size-spacing-inset-squish-large;
  margin: auto;
  max-width: 500px;

  &-overlay {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $rds-size-spacing-basis;
  }

  &-title {
    margin: 0;
  }

  &-close {
    height: 2rem;
    width: 2rem;
  }

  &-content {
    margin-bottom: $rds-size-spacing-basis;
  }

  &-actions {
  }
}
