@use "/styles" as *;

.rds {
  &-FormField {
    margin-bottom: $rds-size-spacing-stack-medium;

    &--fullWidth {
      flex-grow: 1;
    }

    &-label {
      display: inline-block;
      line-height: $rds-size-line-height-reset;
      font-size: $rds-size-font-3;
      font-weight: $rds-font-weight-semibold;
      margin-bottom: $rds-size-spacing-stack-xsmall;
      margin-top: 0;
    }

    &-control {
      margin-bottom: $rds-size-spacing-stack-xsmall;
      margin-top: 0;

      &--error {
        margin-bottom: 0;

        input {
          border-color: $rds-color-base-red-60;
        }
      }
    }

    &-help {
      color: $rds-color-base-gray-60;
      line-height: $rds-size-line-height-reset;
      font-size: $rds-size-font-2;
      margin-bottom: $rds-size-spacing-stack-xsmall;
      margin-top: 0;
    }

    &-errorMessage {
      color: $rds-color-base-red-60;
      line-height: $rds-size-line-height-reset;
      font-size: $rds-size-font-2;
    }
  }

  &-Input {
    input {
      border: $rds-size-border-small solid $rds-color-base-gray-40;
      border-radius: $rds-size-radius-small;
      background-color: $rds-color-base-white;
      padding: $rds-size-spacing-inset-squish-xsmall;
      color: $rds-color-base-gray-90;
      font-size: $rds-size-font-3;
      display: inline-block;
      height: 2rem;
      width: calc(100% - 20px);

      &:active {
        outline: 0;
        border-color: $rds-color-base-blue-50;
        box-shadow: inset 0 0 0 1px $rds-color-base-blue-50;
      }
    }
  }

  &-LinkInput {
    display: flex;
    width: 100%;

    .rds-Input {
      flex-grow: 1;
    }

    input {
      border-radius: $rds-size-radius-small 0 0 $rds-size-radius-small;
    }

    &-actions {
      margin-left: -3px;

      :last-child {
        border-top-right-radius: $rds-size-radius-small;
        border-bottom-right-radius: $rds-size-radius-small;
      }

      :not(:last-child) {
        border-right: none;
      }
    }

    &-action {
      width: 42px;
      height: 42px;
      border: $rds-size-border-small solid $rds-color-base-gray-40;
      border-radius: 0;
    }
  }

  &-Checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      width: 1rem;
      height: 1rem;
      margin-right: $rds-size-spacing-inset-small;
    }

    .rds-FormField-label {
      margin-bottom: 0;
    }
  }

  &-TextArea {
    textarea {
      font-size: $rds-size-font-2;
      font-family: canada-type-gibson;
      min-height: 4rem;
      width: 100%;
      min-width: 5rem;
      max-width: calc(100% - 1rem);
      border-color: $rds-color-base-gray-40;
      border-radius: $rds-size-radius-small;
      padding: $rds-size-spacing-inset-squish-xsmall;
    }
  }

  &-Tag {
    &-delete {
      margin-left: $rds-size-spacing-basis;
      border-radius: $rds-size-radius-rounded;
      margin-right: -6px;

      svg {
        width: 0.5rem;
        height: 0.5rem;
      }
    }
  }

  &-Tabs {
    &-list {
      display: flex;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      column-gap: 0.5rem;
      margin-bottom: $rds-size-spacing-stack-large;
      border-bottom: $rds-size-border-small solid $rds-color-base-gray-30;

      *:not(:last-child) {
        margin-right: $rds-size-spacing-inline-small;
      }
    }

    &-content {
      padding: 0 $rds-size-spacing-inset-medium;
    }
  }

  &-Tab {
    color: $rds-color-base-gray-70;
    list-style: none;
    position: relative;

    &-content {
      background-color: transparent;
      font-size: $rds-size-font-3;
      border: none;
      font-family: canada-type-gibson;
      padding: $rds-size-spacing-inset-medium;
      cursor: pointer;
    }

    &:hover {
      color: $rds-color-base-gray-90;
    }

    &:focus {
      outline: none;
    }

    &--active {
      border-bottom: $rds-size-border-large solid $rds-color-base-blue-50;
      color: $rds-color-base-blue-50;

      &:hover {
        color: $rds-color-base-blue-50;
      }
    }

    &--alert {
      width: 0.5rem;
      height: 0.5rem;
      background-color: $rds-color-base-green-50;
      position: absolute;
      top: 4px;
      right: 4px;
      border-radius: $rds-size-radius-rounded;
    }
  }
}

// TODO: Split this out to its own component
.Links {
  margin-bottom: $rds-size-spacing-stack-medium;
}
